.pagination {
  display: flex;
  gap: 5px;
}
.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 0.85em;
  font-weight: 400;
}

.pagination button.active {
  pointer-events: none;
  background-color: rgb(22, 223, 19);
  opacity: 0.5;
}

.pagination button.first::before {
  content: '<<';
}

.pagination button.last::before {
  content: '>>';
}

.pagination button.prev::before {
  content: '<';
}

.pagination button.next::before {
  content: '>';
}
