.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.page {
  font-size: 2rem;
}
.button {
  font-size: 25px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 18, 24);
  border-color: rgb(49, 18, 24);
  color: rgb(122, 125, 128);
  padding: 0;
  border-radius: 50px;
  transition: all 0.5s;
}
.button:hover {
  background-color: aliceblue;
  color: rgb(49, 18, 24);
  opacity: 0.8;
}
.disablButton {
  background-color: silver;
}

.disablButton:active {
  background-color: silver;
}
