.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-left: 1em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(144, 117, 240);
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  background-color: #fff;
  color: rgb(144, 117, 240);
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
