.card {
  width: 30rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: rgba(231, 197, 197, 0.322);
  box-shadow: 0 0 0.5rem 0.5rem rgba(231, 71, 71, 0.288);
}
.card img {
  margin: 1.5rem 0;
  border-radius: 0.5rem;
}
