.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
}

.details {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}

.carddetails {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.character-name {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

.img {
  border-radius: 1rem;
  width: 100%;
  margin: auto;
}
