.root {
    position: relative;
   
  }
  .input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    padding-left: 35px;
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .icon {
    opacity: 0.5;
    position: absolute;
    left: 6px;
    top: 6px;
  }
  .closeIcon {
    transition: all 0.5s;
    opacity: 0.3;
    position: absolute;
    right: 4px;
    top: 6px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  